extends layout

block before-dom-styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  section#jumbotron
    .container
      h2 Herramientas de soporte
      
  section#menu
    .container
      .row
        .col.s4
          .card.small
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="/images/magic.png")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Card Title
                i.material-icons.right more_vert
              p
                a(href="#", target="_blank") Link
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Card Title
                i.material-icons.right close
              p Here is some text about this
        .col.s4
        .col.s4
    
  
block after-dom-scripts
