doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/materialize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    block before-dom-styles
    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/materialize.min.js')
    block before-dom-scripts
    
  body
    block content

block after-dom-scripts
