extends layout

block before-dom-styles
  link(rel="stylesheet", href="/stylesheets/surveys.css")

block content
  include lib/navbar
  section#surveys
    .container#top-info
      br
      br
      a.btn.z-depth-0.pbb(href="/wizard/app") SUBIR ENCUESTA
      .brand
        h2 Lista de encuestas
      .upperbar
        //- p.action Busca por nombre el cuestionario
        //- form#text-search
        //-   input(
        //-     type="text", 
        //-     placeholder="Nombre de encuesta a buscar"
        //-     v-model="search"
        //-     @keyup="searchByName")
 

        datatable(
          v-bind:data="sample.data"
          v-bind:headers="sample.headers"
          )

  

      //- table.highlight#table-data
      //-   col(width="2%")
      //-   col(width="10%")
      //-   col(width="60%")
      //-   col(width="25%")

      //-   thead
      //-     tr
      //-       th #
      //-       th Fecha
      //-       th Nombre
      //-       th Entidad
      //-       th 
      //-   tfoot
      //-     tr
      //-       td(colspan="100") Mostrando un total de # resultados. 
      //-   tbody
      //-     tr
      //-       td 1
      //-       td 00:00:00
      //-       td 01/10/1997
      //-       td GCP-ALV
      //-       td 
      //-         a.btn.pbb.z-depth-0(href="/transaction/id_t", target="_blank") ENTRAR

block before-dom-scripts
  script(src="/javascripts/plugins/vue.js")
  script(src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js")
  script(src="/javascripts/common/masterdb.js")

block after-dom-scripts
  script(src="/javascripts/plugins/lodash.js")
  script(src="/javascripts/common/render.js")
  script(src='/javascripts/surveys.js')
