extends layout

block before-dom-styles
  link(rel='stylesheet', href='/stylesheets/wizard.css')
    
block before-dom-scripts
  // TODO: Change if production
  script(src="/javascripts/plugins/vue.min.js")
  script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js")
  script(src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js")
  script(src="https://www.gstatic.com/firebasejs/5.0.4/firebase-auth.js")
  script(src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js")
  script(src="/javascripts/common/masterdb.js")

block content
  include lib/navbar
  section#wizard-app
    .container#top-info
      br
      br
      a.btn.z-depth-0.pbb(href="/wizard") VER ENCUESTAS
      .brand
        h1 Wizard
        p v0.5
      p.action Esta información se irá completando automáticamente conforme se vaya llenando el formulario.
      p ID Encuesta: 
        span#survey_key {{survey_key}}
      .row
        .col.l8#options
          ul
            li
              span
                div(v-if="survey.clasificacion.length == ''")
                  i.material-icons.not-ready check_circle_outline
                div(v-else)
                  i.material-icons.ready check_circle_outline
                strong Encuesta: 
                | {{survey.clasificacion}}
            li
              span
                div(v-if="empresa.nombre.length == ''")
                  i.material-icons.not-ready check_circle_outline
                div(v-else)
                  i.material-icons.ready check_circle_outline
                strong Empresa: {{empresa.nombre}}
                .wizard-key ({{empresa.key}})
            li
              span
                div(v-if="survey.type.length == ''")
                  i.material-icons.not-ready check_circle_outline
                div(v-else)
                  i.material-icons.ready check_circle_outline
                strong Tipo: 
                | {{survey.type}}
            li
              span
                div(v-if="survey.cuestionario == null")
                  i.material-icons.not-ready check_circle_outline
                div(v-else)
                  i.material-icons.ready check_circle_outline
                strong Cuestionario procesado.
            li.survey-analysis-wrapper
              p.action En cuanto se obtenga la información se podrá ver de manera detallada aquí.
              ul#easy-survey-description.z-depth-0.collapsible(data-collapsible="accordion")
                li
                  .collapsible-header
                    i.material-icons notes
                    | Cuestionario
                  .collapsible-body
                    | Conteo final de preguntas: {{surveyAnalysis.count}}
                    p.action Resumen:
                    ul
                      li(v-for="(value, key) in surveyAnalysis.survey")
                        p.surv-area {{key}}
                        ul
                          li(v-for="(value2, key2) in surveyAnalysis.survey[key]")
                            p.surv-topic {{key2}}
                            ul
                              li(v-for="(item, index) in surveyAnalysis.survey[key][key2]")
                                .collection
                                  p.collection-item.surv-question 
                                    | {{item.pos}} - {{item.pregunta | short}}...
                                    span.badge {{item.puntaje}}

        .col.s4
          p Subir encuesta
          div(v-if="isReady == false")
            button.positivebtn.btn.z-depth-0.disabled(v-on:click="upload") Subir
          div(v-else)
            button.positivebtn.btn.z-depth-0(v-on:click="upload") Subir
          

    .container
      p.action Rellena el siguiente formulario:
      form#wizard(method="post", action="", enctype="multipart/form-data")
        .row
            
          .input-field.col.s12
            input.validate#clasificacion(placeholder="Ej. Cuestionario de cumplimiento Institucional", type="text", v-model="survey.clasificacion")
            label(for="clasificacion") Nombre del cuestionario
            
          .input-field.col.l6
            select#type
              option(value="0" disabled selected) Elige la opción 
              option RSE
              option GCP
              option INC
              option CCO
            label Tipo de encuesta
            
          .input-field.col.l6
            select#company
              option(value="0" disabled selected) Elige la opción 
            label Cuenta
            
          //- In case we need it: 
          //- .input-field.col.l4
          //-   select#entity(multiple)
          //-     option(value="" disabled selected) Elige la opción 
          //-     option(value="key1") Entidad 1
          //-     option(value="key2") Entidad 2
          //-     option(value="key3") Entidad 3
          //-   label Entidades aceptadas
            
          .input-field.col.l12
            p.action Con el archivo de .txt generá los valores de la encuesta:
          
          .input-field.file-field.col.l12
            .positivebtn.btn.z-depth-0
              span File
              input#wizard-input-file(name="survey_template", type="file")
            .file-path-wrapper
              input.file-path.validate(type="text", placeholder="Da click aquí.")
                
          .input-field.col.l12
            button(v-on:click="getJSONSurvey").positivebtn.btn.z-depth-0#wizard-send Obtener encuesta
        
  
  
block after-dom-scripts
  script(src="/javascripts/common/render.js")
  script(src="/javascripts/wizard.js")
