@import "master.less";
@import "lib/navbar.less";

#surveys{
  h2{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }
}

.upperbar{
  #text-search{
    input{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      border: none !important;
    }
    input:focus, input:visited, input:active, input:hover{
      border: none !important;
      box-shadow: none !important;
    }
  }
  a{
    float: right;
  }
}

.datatable{
  font-family: 'Montserrat',sans-serif;
  border-top: 1.5px solid #d1d1d1;
  font-size: 12px;
  padding: 10px;
  td{
    padding: 6px 5px;
  }
  a{
    display: flex;
    vertical-align: middle;
    i{
      font-size: 18px;
      margin-right: 4px;
    }
  }
}